

/*****************************************/

/* Video code */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
}

.video{
    position:relative;
    padding-bottom: 56.25%;
    z-index: 1;
}

.video-media{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.offscreen{
    position: absolute;
    top:0;
    left: -1200;
}

/*.container{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    border: 1px solid white;
}*/

.floating-button{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #FDFCFC;
}

.register{
    display: inline-block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    border-radius: 15px;
    margin: 30px auto 20px;
    background: #F71717;
    opacity: .8;
    box-shadow: 5px 5px 50px 5px #FDFCFC;
    border: none;
    transition: .3s;
}

.noname{
    width: 50%;
    height: 100%;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 3;
    width: 50%;
    height: 100%;
   /* border: 1px solid red;*/
}

.intro{
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    background: url("media/tail-lights-1241171_1280.jpg") center no-repeat;
    background-size: cover;
}

/* this is a mask for changing the tint or additional effects*/
/* .intro:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(139, 0, 0, .3);
    z-index: 2;
    width: 100%;
    height: 100%;
}*/
     
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FDFCFC;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
      
.active, .dot:hover {
    background-color: #717171;
}

.intro-title{
    font-family:'Dancing Script', sans-serif;
    font-size: 3.5rem;
    color: #FDFCFC;
    margin:30px 0px 10px 0px ;
    text-align: center;
    font-weight: 900;
}

.intro-subtitle{
    font-family:'Dancing Script', sans-serif;
    font-size: 3rem;
    color: #FDFCFC;
    margin: 30px 0px 10px 0px;
    text-align: center;
}

/*.logo{
    position: absolute;
    left: 0;
    top: 0;
    z-index:3;
    width: 100px;
    height: 100px;
    padding: 15px;
   
}*/

@media only screen and (max-width: 882px){

    .intro-content{
        display: flex;
        flex-direction: column;
        justify-content:center;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 3;
        width: 100%;
        height: 50%;
        /*border: 1px solid red;*/
    }

    /*.container{
        max-width: 882px;
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
    }*/

    .intro-title{
        font-family:'Dancing Script', sans-serif;
        font-size: 2.5rem;
        color: #FDFCFC;
        margin: 20px 10px 0px 10px;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .intro-subtitle{
        font-family:'Dancing Script', sans-serif;
        font-size: 1.5rem;
        color: #FDFCFC;
        margin: 20px 10px 0px 10px;
        text-align: center;
        flex-wrap: wrap;
    }  

    .register{
        position: absolute;
        left:50%;
        top:90%;
        transform: translate(-50%, -50%);
        transition-duration: .4s;
    }
}
    

@media only screen and (max-width: 575px){
    .video-media{
        display: none;
    }

    .picture-media{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .intro-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 3;
        width: 100%;
        height: 100%;
       /* border: 1px solid white;*/
    }

    /*.container{
        max-width: 575px;
        position: absolute;
        left: 0;
        top: 15%;
        width: 100%;
    }*/

    .intro-title{
        font-family:'Dancing Script', sans-serif;
        font-size: 2rem;
        color: #FDFCFC;
        margin: 20px 10px 0px 10px;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .intro-subtitle{
        font-family:'Dancing Script', sans-serif;
        font-size: 1rem;
        color: #FDFCFC;
        margin: 20px 10px 0px 10px;
        text-align: center;
        flex-wrap: wrap;
    }      

    .register{
        position: absolute;
        left:50%;
        top:70%;
        transform: translate(-50%, -50%);
        transition-duration: .4s;
    }
}
    
